{% extends "mainBlog/base.html" %}


{% block content %}

<main class="container">
    {% for post in featured_post %}
    {% if forloop.first %}
      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark hero-section">
        <div class="col-md-6 px-0 text-danger">
          <h1 class="display-4 fst-italic">{{post.title}}</h1>
          <p class="lead my-3 fw-bold">{{post.short_information}}.</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>
    {% endif %}
    {% endfor %}

  <br>
  <div class="text-primary text-uppercase fw-bold" style="font-size:30px">
    Featured Post
  </div>
  
  <br>
  <div class="row mb-2">
    {% for post in featured_post %}
      {% if not forloop.first %}
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted"> <b> @{{post.author}} </b> | {{post.created_at | timesince}}</div>
            <p class="mb-auto">{{post.short_information | truncatewords:10}}</p>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{{post.featured_image.url}}" width="200" height="250"  role="img" alt="{{post.title}}"></img>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="text-warning text-uppercase pb-4 mb-4 fst-italic border-bottom">
        Recent Feature
      </h3>
      {% for post in posts %}
      <div class ="card-border-0">
        <div class ="card-body">
          <h3 class="text-capitalize">{{post.title}}</h3>
          <small class="mb-1 text-muted">{{ post.created_at | timesince }} ago | <b> @{{ post.author}} </b> </small>
          <p class="card-text"> {{post.blog_body}} </p>
        </div>
      </div>
      {% endfor %}

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">{{abouts.about_heading}}</h4>
          <p class="mb-0">{{abouts.about_description}}</p>
        </div>

        

        <div class="p-4">
          <h4 class="fst-italic">Social Account</h4>
          {% if sociallink %}
          <ol class="list-unstyled">
            {% for link in sociallink %}
              <li><a href="{{link.link}}">{{link.platform}}</a></li>
            {% endfor %}
          </ol>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</main>

  


{% endblock  %}



